In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import json

In [2]:
def curve(x, n, noise=False):
    coeff = -1*n if x>0 else n
    value = coeff*np.sqrt(x**2 - x**4)
    if noise:
        return value + 0.1*np.random.randn()
    return value

In [9]:
np.arange(-1, 1.2, 0.2).round(2)

array([-1. , -0.8, -0.6, -0.4, -0.2, -0. ,  0.2,  0.4,  0.6,  0.8,  1. ])

In [25]:
line_x = [-1, -0.97, -0.95, -0.9, -0.85 , -0.8, -0.7, -0.6, -0.4, -0.2, 0 ,  0.2,  0.4,  0.6, 0.7,  0.8, 0.85, 0.9, 0.95, 0.97, 1 ]
data = pd.DataFrame(index=line_x)
data.index.name = "x"
x = data.index.to_series()
data['line1'] = x.apply(lambda x: curve(x, 1)).fillna(0).round(3)
data['line2'] = x.apply(lambda x: curve(x, -1)).fillna(0).round(3)

outpath = "/media/frek/Storage1/projects/personal/main/static/main/science/{}.json"

with open(outpath.format("plot_line_1"), 'w') as f:
    json.dump(data.reset_index()[['x', 'line1']].rename(columns={"line1": "y"}).to_dict(orient="records"), f)
with open(outpath.format("plot_line_2"), 'w') as f:
    json.dump(data.reset_index()[['x', 'line2']].rename(columns={"line2": "y"}).to_dict(orient="records"), f)
    
data.head()

       line1  line2
x
-1.00  0.000 -0.000
-0.97  0.236 -0.236
-0.95  0.297 -0.297
-0.90  0.392 -0.392
-0.85  0.448 -0.448

In [24]:
# Create noise
data_noise = pd.DataFrame(index=np.random.uniform(-1, 1, 80).round(2))
data_noise.index.name="x"
x = data_noise.index.to_series()
data_noise['noise1'] = x.apply(lambda x: curve(x, 1, True)).fillna(0).round(3)
data_noise['noise2'] = x.apply(lambda x: curve(x, -1, True)).fillna(0).round(3)

# choose randomly from one 
data_noise['noise'] = [data_noise.iloc[counter, np.random.randint(0, 2)] for counter in range(len(data_noise))]

# Save JSON
with open(outpath.format('plot_noise'), 'w') as f:
    json.dump(data_noise.reset_index()[['x', 'noise']].rename(columns={"noise": "y"}).to_dict(orient="records"), f)
data_noise.head()

       noise1  noise2  noise
x
-0.74   0.471  -0.652  0.471
-0.86   0.370  -0.384 -0.384
-0.78   0.357  -0.347  0.357
 0.59  -0.470   0.452 -0.470
 0.85  -0.454   0.483  0.483